.nav-link
{
    color:white !important;
}
.nav-link:hover
{
    color:blue !important;
    background-color:lightblue;
    border-radius:10px;
}
.navbar-brand:hover
{
    color:blue !important;
    border-radius:10px;
    font-weight:bold;
}
body
{
    background-color:lightblue;
}
